body{

display:flex;

margin:0;

padding: 0;

align-items:center;

justify-content: center;

height:100vh;

  

}

 

ul{

  display: flex;

  position: relative;

  margin:0;

  padding: 0;

  

  

 }  

 

 ul li

{ 

position:relative;

list-style: none;

height:60px;

width:60px;

margin: 0 30px;

transform: rotate(-30deg) skew(25deg);

background-color:transparent ;

}

 

 ul li span{

   position:absolute;

   top:0;

   left:0;

   width:100%;

   height:100%;

   background-color:#4267B2;

   color:#fff;

   font-size:45px !important;

  display:flex !important;

  align-items: center;

  justify-content:

  center;

  transition: 0.5s;

  border-radius:10px;

  

 }

 

 

 ul li:hover span:nth-child(5){

   transform: translate(40px,-40px);

   opacity:1;

   

   

 }

 

 ul li:hover span:nth-child(4){

   transform: translate(30px,-30px);

   opacity:0.8;

   

   

 }

 ul li:hover span:nth-child(3){

   transform: translate(20px,-20px);

   opacity:0.6;

   

 }

 

 ul li:hover span:nth-child(2){

   transform: translate(10px,-10px);

   opacity:0.4;

   

   

 }

 

 

 ul li:hover span:nth-child(1){

   transform: translate(0,0);

   opacity:0.2;

   

   

 }

 

 

 ul li:nth-child(2) span{

   background-color:#333;

   

   

 }

 

 ul li:nth-child(3) span{

   background-color:red;

 }

 

 

 ul li:nth-child(4) span{

   background-color: #cd486b;

   

   

 }

 

 

 

 

 ul li:nth-child(5) span{

   background-color: #1DA1F2;

   

   

 }

 
